.footer {
    height: 120vh;
    background-image: url("../images/footer/background-footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}