.footer {
    height: 60vh;
    background-image: url("../images/footer/background-footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;

        @include celular {
            height: 80vh;
        }

        @include tablet {
            height: 90vh;
        }

        // @include tablet {
        //     height: 100vh;
        // }


    .contato {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        align-content: center;
        z-index: -2;


    }

    .endereco__titulo {
        font-size: 2rem;
        font-family: $fonte-titulo;
        margin-bottom: 1rem;
        text-align: center;

            @include celular {
                font-size: 1.4rem;
                text-align: center;
                margin-bottom: .5rem;
            }
    }

    .endereco__info {
        box-shadow: 3px 3px 20px 1px rgba(255,255,255, .8);
        backdrop-filter: blur(10px);
        padding: .4rem;
    }

    .rua,
    .bairro,
    .cidade {
        font-size: 1.5rem;
        font-family: $fonte-corpo;
    }

    .bandeira__titulo {
        font-size: 2rem;
        font-family: $fonte-titulo;
        margin-bottom: 1rem;
        text-align: center;

        @include celular {
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: .5rem;
        }
    }


    .bandeiras__box__logos {
        display: flex;
        gap: .5rem;
        padding: .4rem;
        justify-content: center;
        align-content: center;

        backdrop-filter: blur(10px);
        box-shadow: 3px 3px 20px 1px rgba(255,255,255, .8);
    }

    .bandeira__img {
        width: 4rem;
        height: 4rem;

            @include celular {
                width: 3.25rem;
                height: 3.25rem;
            }
    }

    .redes__sociais__titulo {
        font-size: 2rem;
        font-family: $fonte-titulo;
        margin-bottom: 1rem;
        text-align: center;

        @include celular {
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: .5rem;
        }
    }

    .redes__sociais__box {
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        box-shadow: 3px 3px 20px 1px rgba(255,255,255, .8);
        padding: .4rem;

    }   

    .redes__sociais__img {
        width: 50px;
    }


    
}