.marcas {
    background-image: url("../images/marcas/background-marcas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative;

        @include celular {
            height: 80vh;
        }

        @include tablet {
            height: 90vh;
        }


    .marca__box {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 1s;
        padding: .2rem;

            @include celular {
                height: 80vh;
                gap: .3rem;
            }

            @include tablet {
                height: 90vh;
                gap: .3rem;
            }
    }

    .marca__img {
        width: 8rem;
        height: 8rem;
        border-radius: 20%;
        border: 1px solid #000;
        padding: .5rem;
        box-shadow: 4px 10px 10px 0 #000;

        @include celular {
            width: 5.5rem;
            height: 5.5rem;
            padding: .1rem;
        }

        @include tablet {
            width: 6rem;
            height: 6rem;
            padding: .2rem;
        }
        
    }

    .marca__box.selected {
        opacity: 1;
    }

}