.container__moda__fem {
    

        .adesivo__fem {
            height: 85vh;
            padding: .5rem;
            // margin-bottom: 3rem;
            // transform: skewY(3deg);
            position: relative;

            background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-bottom-left-radius: 40%;
            border-top-right-radius: 20%;
            margin: .5rem;
            box-shadow: 4px 10px 10px 0 $cor-header;
            
        
                @include celular {
                    height: 50vh;
                    padding: .5rem;
                }

                @include tablet {
                    height: 50vh;
                    padding: .5rem;
                }

                @include desktop {
                    height: 70vh;
                    padding: .5rem;
                }

                .img__detalhe__header__fem {
                    position: absolute;
                    bottom: -140px;
                    left: 0px;
                    width: 400px;
                    padding: .5rem;

                        @include celular {
                            width: 210px;
                            top: 20px;
                            left: -74px;
                        }

                        @include tablet {
                            width: 250px;
                            top: 20px;
                            left: -50px;
                        }

                        // @include desktop{
                        //     width: 350px;
                        //     left: -47px;
                        // }
                }

                // .img__detalhe__header {
                //     position: relative;
                // }

                .img__detalhe2__header__fem {
                    position: absolute;
                    top: 190px;
                    right: 150px;
                    
                    width: 200px;
                    padding: .5rem;

                        @include celular {
                            width: 210px;
                            top: 130px;
                            right: 0px;
                            width: 80px;
                        }

                        @include tablet {
                            width: 250px;
                            top: 130px;
                            right: 0px;
                            width: 110px;
                        }
                }

               
                .adesivo__titulo__h1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50vh;
                    color: #fff;        
                    @include titulo;

                        @include celular {
                            font-size: 1.8rem;
                            font-size: 3rem;
                            margin-left: 2.5rem;
                            padding-left: 1rem;
                        }

                        @include tablet {
                            font-size: 2rem;
                            font-size: 4.2rem;
                            margin-left: 2rem;
                        }
                    
                }

        }

        .menu__moda__fem {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            // margin-bottom: 4rem;
            padding: 2rem 0;

                @include celular {
                    gap: .5rem;
                }

            .menu__moda__link {
                padding: 1rem;
                background-color: $cor-sectionFem;
                box-shadow: 4px 10px 10px 0 $cor-header;    
                color: #fff;  
                font-family: $fonte-titulo;
                font-size: 1.5rem;
                cursor: pointer;
                border-top-right-radius: 30%;
                transform: skewY(-10deg);

                
                    &:hover {
                        background-color: #000;
                        box-shadow: 4px 10px 10px 0 #000; 
                        // border-top-left-radius: 30%;
                        transition: all .4s;
                        color: #858585;
                    }

                    @include celular {
                        font-size: 1.2rem;
                    }
            } 
        }

    .js-moda-fem {
        display: none;
    }

    .js-moda-fem.ativo {
        display: block;
        animation: margin-flow .5s forwards;
    }

    @keyframes margin-flow {
        from {
            opacity: 0;
            margin-top: -30px;
        }

        to {
            opacity: 1;
            margin-top: 0px;
        }
    }

    /******* CATALOGO BLUSAS CARDS  *******/
    .catalogo__moda__fem {
        background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 2rem 0;
        height: 130vh;

            @include celular {
                height: 125vh;
            }

            @include tablet {
                height: 135vh;
            }

            // @include desktop {
            //     height: 110vh;
            // }
    }

    .titulo__card {
        background-color: $cor-header;
        text-align: center;
        // padding: .6rem;
        font-family: $fonte-titulo;
        color: #fff;
        font-size: 3.5rem;
        border-top-right-radius: 20%;
        border: 1px solid #fff;
        width: 700px;
        box-shadow: 4px 4px 10px 0 #fff; 
        margin-bottom: 2.5rem;


            &:hover {
                box-shadow: 4px 5px 5px 0 #000; 
                transition: all .4s;
            }

            @include celular {
                width: 80%;
                font-size: 2rem;
                box-shadow: 4px 4px 10px 0 #fff; 
                padding: .5rem;
            }

            @include tablet {
                width: 400px;
            }
    }

    .blusas-fem {
        margin-bottom: 1rem;
    }


    .card__fem__blusa {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 1rem;
        padding: 1rem;
        // height: 60vh;
        // margin-top: 1rem;
    }

    // .cards__sliders__fem {
    //     background-color: #000;
    // }

    .card__prod__blusa {
        padding: .2rem;
        border: 2px solid #000;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: $cor-sectionFem;

            @include celular {
                width: 260px;
            }
    } 

    .prod__img__blusa {
        width: 300px;

            @include celular {
                width: 260px;
            }
    }

    .card__ajuste img {
        width: 270px;
    }

    .card__ajuste .prod__info__blusa {
        width: 270px;

            @include celular {
                width: 250px;
            }
    }

    .prod__info__blusa {
        padding: 1rem;
        width: 300px;
        text-align: center;
        background: rgb(184, 181, 181);
        border: 1px solid #000;
           
            @include celular {
                width: 250px;
            }
            
    }

    .prod__titulo__blusa {
        font-family: $fonte-titulo;
        font-size: 1.8rem;
        opacity: .5;
    }

    .prod__preco {
        font-family: $fonte-titulo;
        font-size: 1.9rem;
    }

    .prod__contato {
        display: flex;
        gap: .5rem;
        justify-content: center;
    }

    .prod__detalhes {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.2rem;
        padding: .5rem;
        background-color: $cor-links;
        width: 200px;
        color:#fff;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid #fff;

            &:hover {
                background-color: $cor-header;
                transition: all .6s;
            }

    }

    .prod__link {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.2rem;
        padding: .5rem;
        background-color: $cor-sectionFem;
        width: 200px;
        color:#fff;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid #fff;
        cursor: pointer;

            &:hover {
                background-color: $cor-links;
                transition: all .6s;
            }

    }

    /******* MODAL CARDS BLUSAS FEM *******/
    .modal__box__blusas {
        position: relative;

        .card__blusas {
            display: none;
            justify-content: center;
            align-items: center;
            gap: .5rem;  
            background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: .8rem;
            backdrop-filter: blur(10px);
            box-shadow: 2px 2px 20px 1px #fff; 
            border: 3px solid #fff;
            position: fixed;
            top: 20px;
            left: 130px;
            width: 80vw;
            height: 94vh;
            z-index: 5;
            
            
                @include celular {
                    top: 0px;
                    left: 0px;
                    width: 100vw;
                    height: 100vh;
                }

                @include tablet {
                    top: 0px;
                    left: 0px;
                    width: 100vw;
                    height: 100vh;
                }
        }
    
        .card__blusas.show {
            display: flex;
        }
    
        .btn-fechar {
            width: 120px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            border: 2px solid #000;
            height: 60px;
            width: 60px;
            font-size: 1.5rem;
            cursor: pointer;
        }
    
        .card__box__img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .img__peq__card {
            height: 90px;
            opacity: 0.8;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #000;
            opacity: .7;
    
                &:hover {
                    opacity: 1;
                    transition: all .6s;
                }
    
                @include celular {
                    height: 80px;
                }
        }

        .img__gra__modal {
            width: 260px;
            border-radius: 5px;
            border: solid 1px #000;
            box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
        }
    
        .detalhes__info {
            margin-top: .2rem;
            background: rgba(163, 157, 157, 0.5);
            padding: .5rem;
            width: 260px;
            border: 1px solid #000;
        }
    
        .marca, 
        .tamanhos,
        .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;
    
                @include celular {
                    font-size: 1.2rem;
                }

                @include tablet {
                    font-size: 1.2rem;
                }
        }
    
        .p, .m, .g {
           border: 1px solid #000;
           padding: .2rem;
        }
        
    
        .marca span, .tamanhos span, .composicao span {
            font-family: $fonte-corpo;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
    
                @include celular {
                    font-size: 1.2rem;
                }

                @include tablet {
                    font-size: 1.2rem;
                }
        }
    
        .detalhes__link {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 1.4rem;
            padding: .5rem;
            background-color: $cor-links;
            width: 200px;
            color:#fff;
            margin: .8rem auto;
            border-radius: 10px;
            border: 1px solid #fff;
            text-align: center;
            
    
                &:hover {
                    background-color: $cor-header;
                    transition: all .6s;
                }
    
                @include celular {
                    font-size: 1.1rem;
                }

                @include tablet {
                    font-size: 1.2rem;
                    padding: .5rem;
                }
        }    
    }

    /******* CATALOGO CALCAS CARDS  *******/
    .card__fem__calca {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 1rem;
        padding: 1rem;
        height: 100vh;
        margin-top: 1rem;
    }
    
    .card__prod__calca {
        padding: .2rem;
        border: 2px solid #000;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: $cor-sectionFem;
    }

    .prod__img__calca {
        width: 300px;

        @include celular {
            width: 260px;
        }
    }

    .prod__info__calca {
        padding: 1rem;
        width: 300px;
        text-align: center;
        background: rgb(184, 181, 181);
        border: 1px solid #000;

            @include celular {
                width: 260px;
            }
            
    }

    .prod__titulo__calca {
        font-family: $fonte-titulo;
        font-size: 1.8rem;
        opacity: .5;
        text-align: center;
    }

    .prod__preco__calca {
        font-family: $fonte-titulo;
        font-size: 1.9rem;
    }

    /******* MODAL CARDS CALCAS FEM *******/
    .modal__box__calcas {

        .card__modal__calca {
            display: none;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // padding: .8rem;
            box-shadow: 2px 2px 10px 1px #000; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
            
                @include celular {
                    width: 100vw;
                }
        }

        .card__modal__calca.show {
            display: flex;
        }

        // #calcas {
        //     display: none;
        // }

       .card__box__img .btn-fechar-card-calca  {
            width: 120px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            border: 2px solid #000;
            height: 60px;
            width: 60px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .card__box__img {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            // position: relative;
        }

        .img__peq__card {
            height: 90px;
            opacity: 0.8;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #000;
            opacity: .7;
    
                &:hover {
                    opacity: 1;
                    transition: all .6s;
                }
    
                @include celular {
                    height: 80px;
                }
        }

        .img__gra__modal {
            width: 260px;
            border-radius: 5px;
            border: solid 1px #000;
            box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
        }
    
        .detalhes__info {
            margin-top: .2rem;
            background: rgba(163, 157, 157, 0.5);
            padding: .5rem;
            width: 260px;
            border: 1px solid #000;
        }
    
        .marca, 
        .tamanhos,
        .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .p, .m, .g {
           border: 1px solid #000;
           padding: .1rem;
        }
        
    
        .marca span, .tamanhos span, .composicao span {
            font-family: $fonte-corpo;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .detalhes__link {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 1.4rem;
            padding: .5rem;
            background-color: $cor-links;
            width: 200px;
            color:#fff;
            margin: .8rem auto;
            border-radius: 10px;
            border: 1px solid #fff;
            text-align: center;
    
                &:hover {
                    background-color: $cor-header;
                    transition: all .6s;
                }
    
                @include celular {
                    font-size: 1.1rem;
                }
        }
    }

    

    /******* CATALOGO SAIAS CARDS  *******/
    .card__fem__saia {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 1rem;
        padding: 1rem;
        height: 100vh;
        margin-top: 1rem;
    }

    .card__prod__saia {
        padding: .2rem;
        border: 2px solid #000;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: $cor-sectionFem;
    }

    .prod__img__saia {
        width: 300px;

            @include celular {
                width: 260px;
            }
    }

    .prod__info__saia {
        padding: 1rem;
        width: 300px;
        text-align: center;
        background: rgb(184, 181, 181);
        border: 1px solid #000;

            @include celular {
                width: 260px;
            }

    }

    .prod__titulo__saia {
        font-family: $fonte-titulo;
        font-size: 1.8rem;
        opacity: .5;
        text-align: center;
    }

    /******* MODAL CARDS SAIAS FEM *******/
    .modal__box__saias {
        .card__modal__saia {
            display: none;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // padding: .8rem;
            box-shadow: 2px 2px 10px 1px #000; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
            
                @include celular {
                    width: 100vw;
                }
        }

        .card__modal__saia.show {
            display: flex;
        }

        .card__box__img .btn-fechar-card-saia  {
            width: 120px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            border: 2px solid #000;
            height: 60px;
            width: 60px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .card__box__img {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            // position: relative;
        }
    
        .img__peq__card {
            height: 90px;
            opacity: 0.8;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #000;
            opacity: .7;
    
                &:hover {
                    opacity: 1;
                    transition: all .6s;
                }
    
                @include celular {
                    height: 80px;
                }
        }
    
        .img__gra__modal {
            width: 260px;
            border-radius: 5px;
            border: solid 1px #000;
            box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
        }
    
        .detalhes__info {
            margin-top: .2rem;
            background: rgba(163, 157, 157, 0.5);
            padding: .5rem;
            width: 260px;
            border: 1px solid #000;
        }
    
        .marca, 
        .tamanhos,
        .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .p, .m, .g {
           border: 1px solid #000;
           padding: .1rem;
        }
        
    
        .marca span, .tamanhos span, .composicao span {
            font-family: $fonte-corpo;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .detalhes__link {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 1.4rem;
            padding: .5rem;
            background-color: $cor-links;
            width: 200px;
            color:#fff;
            margin: .8rem auto;
            border-radius: 10px;
            border: 1px solid #fff;
            text-align: center;
    
                &:hover {
                    background-color: $cor-header;
                    transition: all .6s;
                }
    
                @include celular {
                    font-size: 1.1rem;
                }
        }    
    }


    /******* CATALOGO BOLSAS CARDS  *******/
    .card__fem__bolsa {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 1rem;
        padding: 1rem;
        height: 100vh;
        margin-top: 1rem;
    }

    .card__prod__bolsa {
        padding: .2rem;
        border: 2px solid #000;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: $cor-sectionFem;
    }

    .prod__img__bolsa {
        width: 300px;

            @include celular {
                width: 260px;
            }
    }

    .prod__info__bolsa {
        padding: 1rem;
        width: 300px;
        text-align: center;
        background: rgb(184, 181, 181);
        border: 1px solid #000;

            @include celular {
                width: 260px;
            }

    }

    .prod__titulo__bolsa {
        font-family: $fonte-titulo;
        font-size: 1.8rem;
        opacity: .5;
        text-align: center;
    }

    /******* MODAL CARDS BOLSAS FEM *******/
    .modal__box__bolsas {
        .card__modal__bolsa {
            display: none;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // padding: .8rem;
            box-shadow: 2px 2px 10px 1px #000; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
            
                @include celular {
                    width: 100vw;
                }
        }

        .card__modal__bolsa.show {
            display: flex;
        }

        .card__box__img .btn-fechar-card-bolsa  {
            width: 120px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            border: 2px solid #000;
            height: 60px;
            width: 60px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .card__box__img {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            // position: relative;
        }
    
        .img__peq__card {
            height: 90px;
            opacity: 0.8;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #000;
            opacity: .7;
    
                &:hover {
                    opacity: 1;
                    transition: all .6s;
                }
    
                @include celular {
                    height: 80px;
                }
        }
    
        .img__gra__modal {
            width: 260px;
            border-radius: 5px;
            border: solid 1px #000;
            box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
        }
    
        .detalhes__info {
            margin-top: .2rem;
            background: rgba(163, 157, 157, 0.5);
            padding: .5rem;
            width: 260px;
            border: 1px solid #000;
        }
    
        .marca, 
        .tamanhos,
        .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .p, .m, .g {
           border: 1px solid #000;
           padding: .1rem;
        }
        
    
        .marca span, .tamanhos span, .composicao span {
            font-family: $fonte-corpo;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .detalhes__link {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 1.4rem;
            padding: .5rem;
            background-color: $cor-links;
            width: 200px;
            color:#fff;
            margin: .8rem auto;
            border-radius: 10px;
            border: 1px solid #fff;
            text-align: center;
    
                &:hover {
                    background-color: $cor-header;
                    transition: all .6s;
                }
    
                @include celular {
                    font-size: 1.1rem;
                }
        }    
    }

    /******* CATALOGO PLUS-SIZE CARDS  *******/
    .card__fem__plus {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 1rem;
        padding: 1rem;
        height: 100vh;
        margin-top: 1rem;
    }

    .card__prod__plus {
        padding: .2rem;
        border: 2px solid #000;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: $cor-sectionFem;
    }

    .prod__img__plus {
        width: 300px;

            @include celular {
                width: 260px;
            }
    }

    .prod__info__plus {
        padding: 1rem;
        width: 300px;
        text-align: center;
        background: rgb(184, 181, 181);
        border: 1px solid #000;

            @include celular {
                width: 260px;
            }
    }

    .prod__titulo__plus {
        font-family: $fonte-titulo;
        font-size: 1.8rem;
        opacity: .5;
        text-align: center;
    }


    /******* MODAL CARDS PLUS-SIZE FEM *******/
    .modal__box__plus {
        .card__modal__plus {
            display: none;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // padding: .8rem;
            box-shadow: 2px 2px 10px 1px #000; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
            
                @include celular {
                    width: 100vw;
                }
        }

        .card__modal__plus.show {
            display: flex;
        }

        .card__box__img .btn-fechar-card-plus  {
            width: 120px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            border: 2px solid #000;
            height: 60px;
            width: 60px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .card__box__img {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            // position: relative;
        }
    
        .img__peq__card {
            height: 90px;
            opacity: 0.8;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #000;
            opacity: .7;
    
                &:hover {
                    opacity: 1;
                    transition: all .6s;
                }
    
                @include celular {
                    height: 80px;
                }
        }
    
        .img__gra__modal {
            width: 260px;
            border-radius: 5px;
            border: solid 1px #000;
            box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
        }
    
        .detalhes__info {
            margin-top: .2rem;
            background: rgba(163, 157, 157, 0.5);
            padding: .5rem;
            width: 260px;
            border: 1px solid #000;
        }
    
        .marca, 
        .tamanhos,
        .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .p, .m, .g {
           border: 1px solid #000;
           padding: .1rem;
        }
        
    
        .marca span, .tamanhos span, .composicao span {
            font-family: $fonte-corpo;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .detalhes__link {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 1.4rem;
            padding: .5rem;
            background-color: $cor-links;
            width: 200px;
            color:#fff;
            margin: .8rem auto;
            border-radius: 10px;
            border: 1px solid #fff;
            text-align: center;
    
                &:hover {
                    background-color: $cor-header;
                    transition: all .6s;
                }
    
                @include celular {
                    font-size: 1.1rem;
                }
        }    
    }


    /******* CATALOGO CALÇADOS CARDS  *******/
    .card__fem__calcados {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 1rem;
        padding: 1rem;
        height: 100vh;
        margin-top: 1rem;
    }

    .card__prod__calcados {
        padding: .2rem;
        border: 2px solid #000;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: $cor-sectionFem;
    }

    .prod__img__calcados {
        width: 300px;

            @include celular {
                width: 260px;
            }
    }

    .prod__info__calcados {
        padding: 1rem;
        width: 300px;
        text-align: center;
        background: rgb(184, 181, 181);
        border: 1px solid #000;

            @include celular {
                width: 260px;
            }

    }

    .prod__titulo__calcados {
        font-family: $fonte-titulo;
        font-size: 1.8rem;
        opacity: .5;
        text-align: center;
    }

    /******* MODAL CARDS CALÇADOS FEM *******/
    .modal__box__calcados {
        .card__modal__calcados {
            display: none;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // padding: .8rem;
            box-shadow: 2px 2px 10px 1px #000; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
           
            
                @include celular {
                    width: 100vw;
                }
        }

    

        .card__modal__calcados.show {
            display: flex;
            padding: .5rem;
        }

        .card__box__img .btn-fechar-card-calcados  {
            width: 120px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            border: 2px solid #000;
            height: 60px;
            width: 60px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .card__box__img {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            // position: relative;
        }
    
        .img__peq__card {
            height: 90px;
            opacity: 0.8;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #000;
            opacity: .7;
    
                &:hover {
                    opacity: 1;
                    transition: all .6s;
                }
    
                @include celular {
                    height: 80px;
                }
        }
    
        .img__gra__modal {
            width: 260px;
            border-radius: 5px;
            border: solid 1px #000;
            box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
        }
    
        .detalhes__info {
            margin-top: .2rem;
            background: rgba(163, 157, 157, 0.5);
            padding: .5rem;
            width: 260px;
            border: 1px solid #000;
        }
    
        .marca, 
        .tamanhos,
        .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .p, .m, .g {
           border: 1px solid #000;
           padding: .1rem;
        }
        
    
        .marca span, .tamanhos span, .composicao span {
            font-family: $fonte-corpo;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
    
                @include celular {
                    font-size: 1.2rem;
                }
        }
    
        .detalhes__link {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 1.4rem;
            padding: .5rem;
            background-color: $cor-links;
            width: 200px;
            color:#fff;
            margin: .8rem auto;
            border-radius: 10px;
            border: 1px solid #fff;
            text-align: center;
    
                &:hover {
                    background-color: $cor-header;
                    transition: all .6s;
                }
    
                @include celular {
                    font-size: 1.1rem;
                }
        }    
    
    }




    /******* SWWIPER SLIDER BLUSAS *******/
    .swiper {
        width: 98vw;
        height: 105vh;
        padding: 30px 0;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 500px;
      }

    //   .swiper-slide .card__produto {
    //     display: block;
    //     width: 100%;
    //   }
    

}





