


 /******* CATALOGO SHORTS MASC CARDS  *******/
 .catalogo__moda__masc {
    background-image: url("../images/moda-masc/background-sectionMasc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem 0;
    height: 130vh;

        @include celular {
            height: 125vh;
        }

        @include tablet {
            height: 135vh;
        }

}


.titulo__card {
    background-color: $cor-sectionMasc;
    text-align: center;
    padding: .6rem;
    font-family: $fonte-titulo;
    color: #fff;
    font-size: 3.5rem;
    border-top-right-radius: 20%;
    width: 700px;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 4px 4px 10px 0 #000; 
    margin-bottom: 2.5rem;

        &:hover {
            box-shadow: 4px 5px 5px 0 $cor-sectionMasc; 
            transition: all .4s;
        }

        @include celular {
            width: 320px;
        }

        @include tablet {
            width: 400px;
        }
}

.shorts-masc {
    margin-bottom: 1rem;
}

.card__masc__shorts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card__prod__short {
    padding: .2rem;
    border: 2px solid #000;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $cor-sectionMasc;

        @include celular {
            width: 260px;
        }
} 

.prod__img__short {
    width: 300px;

        @include celular {
            width: 260px;
        }
}

.card__ajuste .prod__info__short {
    width: 270px;

        @include celular {
            width: 250px;
        }
}

.prod__info__short {
    padding: 1rem;
    width: 300px;
    text-align: center;
    background: rgb(184, 181, 181);
    border: 1px solid #000;
       
        @include celular {
            width: 250px;
        }
        
}

.prod__titulo__short {
    font-family: $fonte-titulo;
    font-size: 1.8rem;
    opacity: .5;
}

.prod__preco {
    font-family: $fonte-titulo;
    font-size: 1.9rem;
}

.prod__contato {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.prod__detalhes {
    font-family: $fonte-corpo;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem;
    background-color: $cor-links;
    width: 200px;
    color:#fff;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #fff;

        &:hover {
            background-color: $cor-header;
            transition: all .6s;
        }

}

.prod__link {
    font-family: $fonte-corpo;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem;
    background-color: $cor-sectionFem;
    width: 200px;
    color:#fff;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;

        &:hover {
            background-color: $cor-links;
            transition: all .6s;
        }

}

 /******* MODAL CARDS SHORTS MASC *******/
.modal__box__shorts { 
    .card__shorts {
        display: none;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-image: url("../images/moda-masc/background-sectionMasc.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // padding: .8rem;
        box-shadow: 2px 2px 20px 1px #fff; 
        border: 3px solid #000; 
        border-radius: 10px;
        position: fixed;
        top: 20px;
        left: 130px;
        width: 80vw;
        height: 94vh;
        z-index: 5;
        
        
            @include celular {
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
            }

            @include tablet {
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
            }
    }

    .card__shorts.show {
        display: flex;
    }

    .btn-fechar {
        width: 120px;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        border: 2px solid #000;
        height: 60px;
        width: 60px;
        font-size: 1.5rem;
        cursor: pointer;
        box-shadow: 2px 2px 20px 1px #000; 

                &:hover {
                    box-shadow: 0px 0px 0px 0px #fff;
                    transition: all .5s;
                }
    }

    .card__box__img {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        // position: relative;
    }

    .img__peq__card {
        height: 90px;
        opacity: 0.8;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #000;
        opacity: .7;

            &:hover {
                opacity: 1;
                transition: all .6s;
            }

            @include celular {
                height: 80px;
            }
    }

    .img__gra__modal {
        width: 260px;
        border-radius: 5px;
        border: solid 1px #000;
        box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
    }

    .detalhes__info {
        margin-top: .2rem;
        background: rgba(163, 157, 157, 0.5);
        padding: .5rem;
        width: 260px;
        border: 1px solid #000;
    }

    .marca, 
    .tamanhos,
    .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;

                @include celular {
                    font-size: 1.2rem;
                }
        }

    .p, .m, .g {
        border: 1px solid #000;
        padding: .2rem;
    }

    .marca span, .tamanhos span, .composicao span {
        font-family: $fonte-corpo;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;

            @include celular {
                font-size: 1.2rem;
            }
    }

    .detalhes__link {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.4rem;
        padding: .5rem;
        background-color: $cor-links;
        width: 200px;
        color:#fff;
        margin: .8rem auto;
        border-radius: 10px;
        border: 1px solid #fff;
        text-align: center;

            &:hover {
                background-color: $cor-header;
                transition: all .6s;
            }

            @include celular {
                font-size: 1.1rem;
            }
        }    
}


/******* CATALOGO CALÇAS MASC CARDS  *******/
.catalogo__moda__masc {
    background-image: url("../images/moda-masc/background-sectionMasc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem 0;
    height: 130vh;

        @include celular {
            height: 125vh;
        }

        @include tablet {
            height: 135vh;
        }

}


.titulo__card {
    background-color: $cor-sectionMasc;
    text-align: center;
    padding: .6rem;
    font-family: $fonte-titulo;
    color: #fff;
    font-size: 3.5rem;
    border-top-right-radius: 20%;
    width: 700px;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 4px 4px 10px 0 #000; 
    margin-bottom: 2.5rem;

        &:hover {
            box-shadow: 4px 5px 5px 0 $cor-sectionMasc; 
            transition: all .4s;
        }

        @include celular {
            width: 320px;
        }

        @include tablet {
            width: 400px;
        }
}

.calcas-masc{
    margin-bottom: 1rem;
}

.card__masc__calcas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card__prod__calca {
    padding: .2rem;
    border: 2px solid #000;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $cor-sectionMasc;

        @include celular {
            width: 260px;
        }
} 

.prod__img__calca {
    width: 300px;

        @include celular {
            width: 260px;
        }
}

.card__ajuste .prod__info__calca {
    width: 270px;

        @include celular {
            width: 250px;
        }
}

.prod__info__calca {
    padding: 1rem;
    width: 300px;
    text-align: center;
    background: rgb(184, 181, 181);
    border: 1px solid #000;
       
        @include celular {
            width: 250px;
        }
        
}

.prod__titulo__calca {
    font-family: $fonte-titulo;
    font-size: 1.8rem;
    opacity: .5;
}

.prod__preco {
    font-family: $fonte-titulo;
    font-size: 1.9rem;
}

.prod__contato {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.prod__detalhes {
    font-family: $fonte-corpo;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem;
    background-color: $cor-links;
    width: 200px;
    color:#fff;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #fff;

        &:hover {
            background-color: $cor-header;
            transition: all .6s;
        }

}

.prod__link {
    font-family: $fonte-corpo;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem;
    background-color: $cor-sectionFem;
    width: 200px;
    color:#fff;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;

        &:hover {
            background-color: $cor-links;
            transition: all .6s;
        }

}

/******* MODAL CARDS CALÇAS MASC *******/
.modal__box__calcas { 
    .card__calcas {
        display: none;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-image: url("../images/moda-masc/background-sectionMasc.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // padding: .8rem;
        box-shadow: 2px 2px 20px 1px #fff; 
        border: 3px solid #000;
        border-radius: 10px;
        position: fixed;
        top: 20px;
        left: 130px;
        width: 80vw;
        height: 94vh;
        z-index: 5;
        
        
            @include celular {
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
            }

            @include tablet {
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
            }
    }

    .card__calcas.show {
        display: flex;
    }

    .btn-fechar {
        width: 120px;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        border: 2px solid #000;
        height: 60px;
        width: 60px;
        font-size: 1.5rem;
        cursor: pointer;
        box-shadow: 2px 2px 20px 1px #000; 

                &:hover {
                    box-shadow: 0px 0px 0px 0px #fff;
                    transition: all .5s;
                }
    }

    .card__box__img {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        // position: relative;
    }

    .img__peq__card {
        height: 90px;
        opacity: 0.8;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #000;
        opacity: .7;

            &:hover {
                opacity: 1;
                transition: all .6s;
            }

            @include celular {
                height: 80px;
            }
    }

    .img__gra__modal {
        width: 260px;
        border-radius: 5px;
        border: solid 1px #000;
        box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
    }

    .detalhes__info {
        margin-top: .2rem;
        background: rgba(163, 157, 157, 0.5);
        padding: .5rem;
        width: 260px;
        border: 1px solid #000;
    }

    .marca, 
    .tamanhos,
    .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;

                @include celular {
                    font-size: 1.2rem;
                }
        }

    .p, .m, .g {
        border: 1px solid #000;
        padding: .2rem;
    }

    .marca span, .tamanhos span, .composicao span {
        font-family: $fonte-corpo;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;

            @include celular {
                font-size: 1.2rem;
            }
    }

    .detalhes__link {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.4rem;
        padding: .5rem;
        background-color: $cor-links;
        width: 200px;
        color:#fff;
        margin: .8rem auto;
        border-radius: 10px;
        border: 1px solid #fff;
        text-align: center;

            &:hover {
                background-color: $cor-header;
                transition: all .6s;
            }

            @include celular {
                font-size: 1.1rem;
            }
        }    
}

/******* CATALOGO CALÇADOS MASC CARDS  *******/
.catalogo__moda__masc {
    background-image: url("../images/moda-masc/background-sectionMasc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem 0;
    height: 130vh;

        @include celular {
            height: 125vh;
        }

        @include tablet {
            height: 135vh;
        }

}


.titulo__card {
    background-color: $cor-sectionMasc;
    text-align: center;
    padding: .6rem;
    font-family: $fonte-titulo;
    color: #fff;
    font-size: 3.5rem;
    border-top-right-radius: 20%;
    width: 700px;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 4px 4px 10px 0 #000; 
    margin-bottom: 2.5rem;

        &:hover {
            box-shadow: 4px 5px 5px 0 $cor-sectionMasc; 
            transition: all .4s;
        }

        @include celular {
            width: 320px;
        }

        @include tablet {
            width: 400px;
        }
}

.calcados-masc{
    margin-bottom: 1rem;
}

.card__masc__calcados {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card__prod__calcado {
    padding: .2rem;
    border: 2px solid #000;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $cor-sectionMasc;

        @include celular {
            width: 260px;
        }
} 

.prod__img__calca {
    width: 300px;

        @include celular {
            width: 260px;
        }
}

.card__ajuste .prod__info__calca {
    width: 270px;

        @include celular {
            width: 250px;
        }
}

.prod__info__calcado {
    padding: 1rem;
    width: 300px;
    text-align: center;
    background: rgb(184, 181, 181);
    border: 1px solid #000;
       
        @include celular {
            width: 250px;
        }
        
}

.prod__titulo__calcado {
    font-family: $fonte-titulo;
    font-size: 1.8rem;
    opacity: .5;
}

.prod__preco {
    font-family: $fonte-titulo;
    font-size: 1.9rem;
}

.prod__contato {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.prod__detalhes {
    font-family: $fonte-corpo;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem;
    background-color: $cor-links;
    width: 200px;
    color:#fff;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #fff;

        &:hover {
            background-color: $cor-header;
            transition: all .6s;
        }

}

.prod__link {
    font-family: $fonte-corpo;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem;
    background-color: $cor-sectionFem;
    width: 200px;
    color:#fff;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;

        &:hover {
            background-color: $cor-links;
            transition: all .6s;
        }

}

/******* MODAL CARDS CALÇADOS MASC *******/
.modal__box__calcados { 
    position: relative;
   
    
    .card__calcados {
        display: none;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-image: url("../images/moda-masc/background-sectionMasc.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // padding: .8rem;
        box-shadow: 2px 2px 20px 1px #fff; 
        border: 3px solid #000;
        border-radius: 10px;
        position: fixed;
        top: 20px;
        left: 130px;
        width: 80vw;
        height: 94vh;
        z-index: 5;
        
        
            @include celular {
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
            }

            @include tablet {
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
            }
    }

    .card__calcados.show {
        display: flex;
    }

    .btn-fechar {
        width: 120px;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        border: 2px solid #000;
        height: 60px;
        width: 60px;
        font-size: 1.5rem;
        cursor: pointer;
        box-shadow: 2px 2px 20px 1px #000; 

                &:hover {
                    box-shadow: 0px 0px 0px 0px #fff;
                    transition: all .5s;
                }
    }

    .card__box__img {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        // position: relative;
    }

    .img__peq__card {
        height: 90px;
        opacity: 0.8;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #000;
        opacity: .7;

            &:hover {
                opacity: 1;
                transition: all .6s;
            }

            @include celular {
                height: 80px;
            }
    }

    .img__gra__modal {
        width: 260px;
        border-radius: 5px;
        border: solid 1px #000;
        box-shadow: 1px 4px 10px rgba(68, 66, 66, 1);
    }

    .detalhes__info {
        margin-top: .2rem;
        background: rgba(163, 157, 157, 0.5);
        padding: .5rem;
        width: 260px;
        border: 1px solid #000;
    }

    .marca, 
    .tamanhos,
    .composicao {
            font-family: $fonte-corpo;
            font-size: 1.8rem;
            font-weight: bold;
            color: #fff;

                @include celular {
                    font-size: 1.2rem;
                }
        }

    .p, .m, .g {
        border: 1px solid #000;
        padding: .2rem;
    }

    .marca span, .tamanhos span, .composicao span {
        font-family: $fonte-corpo;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;

            @include celular {
                font-size: 1.2rem;
            }
    }

    .detalhes__link {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.4rem;
        padding: .5rem;
        background-color: $cor-links;
        width: 200px;
        color:#fff;
        margin: .8rem auto;
        border-radius: 10px;
        border: 1px solid #fff;
        text-align: center;

            &:hover {
                background-color: $cor-header;
                transition: all .6s;
            }

            @include celular {
                font-size: 1.1rem;
            }
        }    
}


    /******* SWWIPER SLIDER BLUSAS *******/
    .swiper {
        width: 98vw;
        height: 105vh;
        padding: 30px 0;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 500px;
      }

    //   .swiper-slide .card__produto {
    //     display: block;
    //     width: 100%;
    //   }

