.sobre-nos {
    height: 100vh;
    background-image: url("../images/sobre-nos/background-sobre-nos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}