.container__moda__fem {
    
        .adesivo__fem {
            height: 85vh;
            padding: .5rem;
            position: relative;
            background: linear-gradient(40deg, #D530F7, #FFEBD3);
            border-bottom-left-radius: 40%;
            border-top-right-radius: 20%;
            margin: .5rem;
            box-shadow: 4px 10px 10px 0 $cor-header;
            border: 1px solid #000;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        
                @include celular {
                    height: 40vh;
                    padding: .5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                @include tablet {
                    height: 50vh;
                    padding: .5rem;
                }

                @include desktop {
                    height: 70vh;
                    padding: .5rem;
                }

                .adesivo__titulo__h1 {
                    
                    color: #000;        
                    @include titulo;
                    
                        @include celular {
                            position: absolute;
                            top: 80px;
                            left: 0;
                            font-size: 2rem;
                          
                        }

                        @include tablet {
                            font-size: 3.3rem;
                            margin-left: 2rem;
                        }
                    
                }

        }

        .menu__moda__fem {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            padding: 2rem 0;

                @include celular {
                    gap: .5rem;
                }

            .menu__moda__link {
                padding: 1rem;
                background-color: $cor-sectionFem;
                box-shadow: 4px 10px 10px 0 $cor-header;    
                color: #000;  
                font-family: $fonte-titulo;
                font-size: 1.5rem;
                cursor: pointer;
                border-top-right-radius: 30%;
                transform: skewY(-10deg);

                
                    &:hover {
                        background-color: #000;
                        box-shadow: 4px 10px 10px 0 #000; 
                        // border-top-left-radius: 30%;
                        transition: all .4s;
                        color: #fff;
                    }

                    @include celular {
                        font-size: 1.2rem;
                    }
            } 
        }

    .js-moda-fem {
        display: none;
    }

    .js-moda-fem.ativo {
        display: block;
        animation: margin-flow .5s forwards;
    }

    @keyframes margin-flow {
        from {
            opacity: 0;
            margin-top: -30px;
        }

        to {
            opacity: 1;
            margin-top: 0px;
        }
    }

    /******* CATALOGO BLUSAS CARDS  *******/
    .catalogo__moda__fem {
        background: linear-gradient(to right, #FFEBD3,#ce6857);
        padding: 2rem 0;

            @include celular {
                height: 125vh;
            }

            @include tablet {
                height: 135vh;
            }

            // @include desktop {
            //     height: 110vh;
            // }
    }

    .catalogo__titulo--blusas {
        background-color: $cor-sectionFem;
        font-family: $fonte-titulo;
        color: #000;
        font-size: 3.5rem;
        border: 1px solid #fff;
        width: 300px;
        box-shadow: 4px 4px 10px 0 #fff; 
        margin: 2rem auto;
        text-align: center;


            &:hover {
                box-shadow: 4px 5px 5px 0 #000; 
                transition: all .4s;
            }

            @include celular {
                width: 70%;
                margin: 2rem auto;
                font-size: 2rem;
                box-shadow: 4px 4px 10px 0 #fff; 
                padding: .5rem;
            }

            @include tablet {
                width: 400px;
            }
    }

    .card__prod {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 2rem;
        
    }

    .blusas-fem {
        z-index: 0;
    }

    .card__prod--blusa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card__prod--imgCard {
        width: 250px;
        border-radius: 5px;
    }

    .card__prod--info {
        width: 250px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-shadow: 2px 2px 10px #000;
        padding-bottom: 1rem;
    }

    .card__prod--titulo {
        font-family: $fonte-titulo;
        text-align: center;
        padding-top: 1rem;
        color: #b5b5b5;
        font-weight: 100;
    }

    .card__prod--preco {
        font-family: $fonte-corpo;
        text-align: center;
        color: #fff;
        font-size: 2rem;
    }

    .card__prod--parcelas {
        font-family: $fonte-corpo;
        display: block;
        text-align: center;
        font-size: 1.2rem;
        color: #fff;
    }

    .card__prod--btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: .7rem;
    }

    .card__prod--detalhes {
        background-color: $cor-sectionFem;
        font-family: $fonte-corpo;
        font-size: 1.2rem;
        font-weight: bold;
        padding: .4rem;
        color: #fff;
        border-top-left-radius: 30%;
        box-shadow: 1px 1px 5px #fff;
        cursor: pointer;

            &:hover {
                box-shadow: 1px 1px 10px #fff;
                background-color: #000;
                transition: all .4s;
            }

    }

    .card__prod--contato {
        background-color: $cor-header;
        font-family: $fonte-corpo;
        font-size: 1.2rem;
        font-weight: bold;
        padding: .4rem;
        color: #000;
        border-top-right-radius: 30%;
        box-shadow: 1px 1px 5px #fff;
        cursor: pointer;
        user-select: none;
        

            &:hover {
                box-shadow: 1px 1px 10px #fff;
                background-color: #000;
                transition: all .4s;
                color: #fff;
            }
    }
    

     /******* CATALOGO MODAL *******/
    .modal__box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.605);
        display: none; 
        animation: slidein forwards;
        animation-duration: 1s;
    }

    .modal__box.open {
        display: block;

            @include celular {
                background: rgba(0, 0, 0, 1);
            }
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
        height: 500px;
        background: linear-gradient(to right, #ce6857,#FFEBD3);
  
        box-shadow: 0 0 20px #fff;
        border-top-right-radius: 5%;
        border-bottom-right-radius: 10%;


            @include celular {
                background: linear-gradient(to right, #ce6857,#FFEBD3);
                // background-image: url("../../images/moda-fem/background-section-modaFem2.jpg");
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: cover;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100vh;   
                border-top-right-radius: 0%;
                border-bottom-right-radius: 0%;
                
                
            }

    }

    .modal__info--btnFechar {
        position: absolute;
        top: -8px;
        right: 5px;
        width: 70px;
        cursor: pointer;
        opacity: .8;

            &:hover {
                opacity: 1;
                transition: all .4s;
            }

            @include celular {
                width: 60px;
                top: 0px;
            }
    }

    .modal__imgs--box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem;
        height: 500px;

            @include celular {
                align-items: flex-end;
            }

        
    }

    .modal__img--peq {
        display: grid;
        grid-template-columns: 1fr;
        gap: .4rem;
        margin-top: 1rem;


    }

    .img__peq {
        width: 70px;
        opacity: .7;
        cursor: pointer;
        border-radius: 5px;

            &:hover {
                opacity: 1;
                transition: all .4s;
            }

            @include celular {
                width: 60px;
            }
    }

    .img__gra {
        width: 250px;
        border-radius: 5px;

            @include celular {
                width: 230px;
            }
    }

    .modal__info {
        text-align: center;
        background: rgba(0, 0, 0, 0.493);
        padding: .5rem;
        border-radius: 5px;
        box-shadow: 0 0 10px #fff;

            @include celular {
                width: 320px;
                margin-left: 1.5rem;
            }
    }

    .modal__info--marca {
        font-family: $fonte-corpo;
        font-size: 1.5rem;
        color: #b5b5b5;

            @include celular {
                font-size: 1.2rem;
            }

    }

    .modal__info--preco {
        font-family: $fonte-corpo;
        font-size: 1.8rem;
        color: #fff;
    }

    .modal__info--parcelas {
        font-family: $fonte-corpo;
        font-size: 1rem;
        color: #fff;
       
    }

    .modal__info--tamanhos {
        display: flex;
        gap: .4rem;
        margin-top: 1rem;
        justify-content: center;
    }



    .modal__info--tam {
        font-family: $fonte-titulo;
        font-size: 1.5rem;
        border: 2px solid #000;
        border-radius: 70%;
        padding: .3rem;
        background: #fff;

            @include celular {
                font-size: 1.2rem;
            }
    }

    .modal__info--composicao {
        font-family: $fonte-corpo;
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: .5rem;

            @include celular {
                font-size: 1.2rem;
            }
    }

    .modal__info--contato {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        background-color: $cor-sectionFem;
        padding: .3rem;
        border: 1px solid #fff;
        border-top-right-radius: 20%;
        width: 200px;
        margin: 0 auto;
        cursor: pointer;

            &:hover {
                background-color: #000;
                transition: all .4s;
            }

            @include celular {
                font-size: 1.1rem;
            }

    }
    
    .modal__info--whatsapplogo {
        width: 30px;
    }

    .modal__info--compre {
        font-family: $fonte-corpo;
        font-size: 1.3rem;
        font-weight: bold;
        border-top-left-radius: 20%;
        color: #fff;
            
    }

    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

    

    /******* SWWIPER SLIDER BLUSAS *******/
    .swiper {
        width: 98vw;
        height: 105vh;
        padding: 30px 0;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 500px;
      }

    //   .swiper-slide .card__produto {
    //     display: block;
    //     width: 100%;
    //   }

}





