.container__moda__fem {
    
        .adesivo__fem {
            height: 85vh;
            padding: .5rem;
            // margin-bottom: 3rem;
            // transform: skewY(3deg);
            position: relative;

            background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-bottom-left-radius: 40%;
            border-top-right-radius: 20%;
            margin: .5rem;
            box-shadow: 4px 10px 10px 0 $cor-header;
            
        
                @include celular {
                    height: 50vh;
                    padding: .5rem;
                }

                @include tablet {
                    height: 50vh;
                    padding: .5rem;
                }

                @include desktop {
                    height: 70vh;
                    padding: .5rem;
                }

                .img__detalhe__header__fem {
                    position: absolute;
                    bottom: -140px;
                    left: 0px;
                    width: 400px;
                    padding: .5rem;

                        @include celular {
                            width: 210px;
                            top: 20px;
                            left: -74px;
                        }

                        @include tablet {
                            width: 250px;
                            top: 20px;
                            left: -50px;
                        }

                        // @include desktop{
                        //     width: 350px;
                        //     left: -47px;
                        // }
                }

                // .img__detalhe__header {
                //     position: relative;
                // }

                .img__detalhe2__header__fem {
                    position: absolute;
                    top: 190px;
                    right: 150px;
                    
                    width: 200px;
                    padding: .5rem;

                        @include celular {
                            width: 210px;
                            top: 130px;
                            right: 0px;
                            width: 80px;
                        }

                        @include tablet {
                            width: 250px;
                            top: 130px;
                            right: 0px;
                            width: 110px;
                        }
                }

               
                .adesivo__titulo__h1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50vh;
                    color: #fff;        
                    @include titulo;

                        @include celular {
                            font-size: 1.8rem;
                            font-size: 3rem;
                            margin-left: 2.5rem;
                            padding-left: 1rem;
                        }

                        @include tablet {
                            font-size: 2rem;
                            font-size: 4.2rem;
                            margin-left: 2rem;
                        }
                    
                }

        }

        .menu__moda__fem {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            padding: 2rem 0;

                @include celular {
                    gap: .5rem;
                }

            .menu__moda__link {
                padding: 1rem;
                background-color: $cor-sectionFem;
                box-shadow: 4px 10px 10px 0 $cor-header;    
                color: #fff;  
                font-family: $fonte-titulo;
                font-size: 1.5rem;
                cursor: pointer;
                border-top-right-radius: 30%;
                transform: skewY(-10deg);

                
                    &:hover {
                        background-color: #000;
                        box-shadow: 4px 10px 10px 0 #000; 
                        // border-top-left-radius: 30%;
                        transition: all .4s;
                        color: #858585;
                    }

                    @include celular {
                        font-size: 1.2rem;
                    }
            } 
        }

    .js-moda-fem {
        display: none;
    }

    .js-moda-fem.ativo {
        display: block;
        animation: margin-flow .5s forwards;
    }

    @keyframes margin-flow {
        from {
            opacity: 0;
            margin-top: -30px;
        }

        to {
            opacity: 1;
            margin-top: 0px;
        }
    }

    /******* CATALOGO BLUSAS CARDS  *******/
    .catalogo__moda__fem {
        background-image: url("../images/moda-fem/background-section-modaFem2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 2rem 0;

            @include celular {
                height: 125vh;
            }

            @include tablet {
                height: 135vh;
            }

            // @include desktop {
            //     height: 110vh;
            // }
    }

    .catalogo__titulo {
        background-color: $cor-sectionFem;
        font-family: $fonte-titulo;
        color: #fff;
        font-size: 3.5rem;
        border: 1px solid #fff;
        width: 300px;
        box-shadow: 4px 4px 10px 0 #fff; 
        margin: 2rem auto;
        text-align: center;


            &:hover {
                box-shadow: 4px 5px 5px 0 #000; 
                transition: all .4s;
            }

            @include celular {
                width: 70%;
                margin: 2rem auto;
                font-size: 2rem;
                box-shadow: 4px 4px 10px 0 #fff; 
                padding: .5rem;
            }

            @include tablet {
                width: 400px;
            }
    }

    .card__prod {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .card__prod--imgCard {
        width: 12.5rem; /* 250px */
        border-radius: 5px;
    }

    .card__prod--info {
        margin-top: .5rem;
        border-radius: 5px;
        padding-bottom: 1rem;

        background: $cor-sectionFem;
        border-radius: .5rem;
        box-shadow: 0 0px 10px #fff;
    }

    .card__prod--titulo {
        font-family: $fonte-corpo;
        color: #242424;
        padding-top: .5rem;
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
    }

    .card__prod--preco {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: .5rem;
        color: #b5b5b5;
    }

    .card__prod--parcelas {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        margin-bottom: .5rem;
        color: #b5b5b5;
    }

    .card__prod--btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .card__prod--detalhes {
        font-family: $fonte-corpo;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: $cor-header;
        padding: .3rem;
        border-top-left-radius: 20%;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;

            &:hover {
                background-color: #000;
                transition: all .4s;
            }
    }

    .card__prod--contato {
        font-family: $fonte-corpo;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: #000;
        padding: .3rem;
        border-top-left-radius: 20%;
        color: #fff;
        border: 1px solid #fff;

            &:hover {
                background-color: $cor-header;
                transition: all .4s;
            }
    }

     /******* CATALOGO MODAL *******/
    .modal__box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.605);
        display: none;

          
    }

    .modal__box.open {
        display: block;
    }

    .modal {
        position: absolute;
        top: 80px;
        left: 220px;
        width: 900px;
        height: 500px;

        background-image: url("../../images/moda-fem/background-section-modaFem2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 20px #fff;
        border-top-right-radius: 20%;
        border-bottom-right-radius: 10%;

            @include celular {
                top: 0px;
                left: 0px;
                width: 100%;
                height: 120vh;   
            }

    }

    .modal__info--btnFechar {
        position: absolute;
        top: -8px;
        right: 5px;
        width: 70px;
        cursor: pointer;
        opacity: .8;

            &:hover {
                opacity: 1;
                transition: all .4s;
            }

            @include celular {
                width: 60px;
            }
    }

    .modal__imgs--box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem;
        height: 500px;

        
    }

    .modal__img--peq {
        display: grid;
        grid-template-columns: 1fr;
        gap: .4rem;
        margin-top: 1rem;
    }

    .img__peq {
        width: 70px;
        opacity: .7;
        cursor: pointer;
        border-radius: 5px;

            &:hover {
                opacity: 1;
                transition: all .4s;
            }

            @include celular {
                width: 60px;
            }
    }

    .img__gra {
        width: 250px;
        border-radius: 5px;

            @include celular {
                width: 230px;
            }
    }

    .modal__info {
        text-align: center;
        background: rgba(0, 0, 0, 0.16);
        padding: .5rem;
        border-radius: 5px;
        box-shadow: 0 0 2px #fff;

            @include celular {
                width: 320px;
                margin-left: 1.5rem;
            }
    }

    .modal__info--marca {
        font-family: $fonte-corpo;
        font-size: 1.8rem;
        color: #b5b5b5;

            @include celular {
                font-size: 1.2rem;
            }

    }

    .modal__info--preco {
        font-family: $fonte-corpo;
        font-size: 1.8rem;
        color: #fff;
    }

    .modal__info--parcelas {
        font-family: $fonte-corpo;
        font-size: 1rem;
        color: #fff;
       
    }

    .modal__info--tamanhos {
        display: flex;
        gap: .4rem;
        margin-top: 1rem;
        justify-content: center;
    }



    .modal__info--tam {
        font-family: $fonte-titulo;
        font-size: 1.5rem;
        border: 2px solid #000;
        border-radius: 70%;
        padding: .3rem;
        background: #fff;

            @include celular {
                font-size: 1.2rem;
            }
    }

    .modal__info--composicao {
        font-family: $fonte-corpo;
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: .5rem;

            @include celular {
                font-size: 1.2rem;
            }
    }

    .modal__info--compre {
        font-family: $fonte-corpo;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: $cor-sectionFem;
        padding: .3rem;
        border-top-left-radius: 20%;
        color: #fff;
        border: 1px solid #fff;
        width: 150px;
        margin: 0 auto;

            &:hover {
                background-color: #000;
                transition: all .4s;
            }

            @include celular {
                font-size: 1.1rem;
            }
    }

}





